@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
;

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: #110d0d;
}

/*-- headings and logo --*/
#logo {
    float: left;
    font-size: 150%;
}
#menu {
    font-size: 100%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 27px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #110d0d;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/heroimage.jpg') no-repeat center;
    background-size: cover;
    height: 950px;
    overflow: hidden;

}
.text-box {
    width: 45%;
    color: #110d0d;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 23px;
    color:#110d0d;
}
.text-box p {
    font-size: 20px;
    margin: 10px 0 40px;
    color: #110d0d;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #110d0d;
    border: 1px solid #110d0d;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #110d0d;
    background: rgba(236, 23, 130, 0.133);
    transition: 1s;
}
nav .fa {
    display: none;
}
@media(max-width; 700px) {
    .text-box h1{
        font-size: 20px;
}
#menu ul li {
    display: block;
}
#menu {
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
}
nav .fa {
    display: block;
    color: #110d0d;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
#menu ul {
    padding: 30px;
}

/*-- About Yoga and Michelle --*/
#abt-yoga {
    text-align: center;
    margin: 10px 0;
}
.img-yoga-teacher {
    width: 75%;
    height: 300px;
    background: url('..assets/images/michelle.jpg') no repeat center center;
}

/*-- Classes We Offer --*/
.course {
width: 80%;
margin: auto;
text-align: center;
padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
    color: #534747;
}
.row {
    margin-top: 5‰;
    display: flex;
    justify-content: space-between;
}
.class-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0,5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.class-col: hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px)
    .row{
        flex-direction: column;
    }

/*-- footer --*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #382f2f;
}

/*-- gallery --*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/*-- contact us form --*/
.container {
    width: 80%;
    margin: auto;
}
.contact-box {
    background: #fff3f3;
    display: flex;
}
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #fff3f3;
    color: #696161;
}
h1{
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 40px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    margin bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}
